//====================================
// Catalogue
//====================================
.catalogue
    &__title
        margin: 48px auto 60px
        text-align: center
        text-transform: uppercase
        font-size: em(32)
        font-weight: 600
        color: $charcoalGrey

    &__navigation
        display: flex
        justify-content: center
        margin: 0 40px
        font-size: em(24)
        font-weight: 600
        color: $coolGrey
        li
            display: inline-block
            border-bottom: solid 1px $grey
            padding-bottom: em(12)
            width: 33.333333%
            text-align: center
            a
                cursor: pointer
                & span
                    font-weight: 300
    &__info
        display: none
        animation: fadeEffect 1s
        &.active
            display: flex
        &__content
            margin-top: 9em
            margin-left: 3.071428em
            margin-right: 5.642867em
            margin-bottom: 5.571428em
            font-size: em(16)
            color: $charcoalGrey2
        &__slider-logo
            width: 54px
            height: 44px
            margin-bottom: 30px
        &__title
            margin-bottom: .642857em
            text-transform: uppercase
            font-weight: 700
            line-height: 1.857142em
        &__text
            line-height: em(25)
            font-weight: 400
        &__button
            +catalogueButton
            background-color: $duskBlue
            &--aqua
                +catalogueButton
                background-color: $aqua
            &--orange
                +catalogueButton
                background-color: $orange
        &__img
            & figure img
                margin-left: 3em
                margin-bottom: em(78)
                padding-top: 6.592857em
                width: 732px
