//====================================
// Characteristics
//====================================
.characteristics
    display: flex
    position: relative
    background-color: $paleGrey
    &::before
        content: ""
        position: absolute
        top: 0
        left: 160px
        width: 200px
        height: 674px
        z-index: 1
        background-image: url('../images/oval-3.png')
        background-size: cover
    &__images
        z-index: 5
        margin-right: 112px
        & picture
            display: block
        & img
            width: 480px
            height: 140px
            // margin-top: 56px
            margin-left: 46px

        &__img-1
            margin-top: 56px
            margin-bottom: 68px
        &__img-2
            margin-bottom: 50px
        &__img-3
            margin-bottom: 74px
    &__info
        margin-right: 42px
        &__box-1
            margin-top: 84px
            margin-bottom: 116px
        &__box-2
            margin-bottom: 94px
        &__box-3
            margin-bottom: 88px
        &__icon-1
            width: 1.857142em
            height: 1.928571em
        &__icon-2
            width: 1.857142em
            height: 1.857142em
        &__icon-3
            width: 1.714285em
            height: 2.214285em
        &__title
            display: inline
            margin-left: .5em
            font-size: 2.142857em
            text-transform: uppercase
            line-height: 1em
            font-weight: 600
            color: $charcoalGrey
        &__text
            margin-top: 1em
            font-size: 1em
            line-height: 1.785714em
            color: $charcoalGrey2
