//====================================
// Fold
//====================================
.fold
    width: 100vw
    height: 100vh
    padding-top: 48px
    overflow: hidden
    background-image: url('../images/bg-video.png')
    background-size: cover
    & figure
        padding: 0
    &__logo
        width: 236px
        height: 34px
        margin-left: 48px

    &__title
        margin: 120px 112px 88px
        text-align: center
        text-transform: uppercase
        line-height: 48px
        letter-spacing: -0.7px
        font-size: 36px
        font-weight: 500
        color: $white

    &__button
        position: relative
        display: block
        width: 180px
        height: 50px
        margin: 5em auto 0px
        border: solid 2px $white
        border-radius: 2px
        text-transform: uppercase
        font-size: 16px
        font-weight: 500
        letter-spacing: 0.8px
        color: $nightBlue
        &:hover
            background: none
            color: $white
            cursor: pointer
    &__scroll
        position: absolute
        bottom: 21px
        left: 50%     
    &::after
        content: ""
        position: absolute
        bottom: 0
        right: 0
        width: 560px
        height: 435px
        background-image: url('../images/page-1-page-1-page-1-mask.png')
        background-size: cover
