//====================================
// Packages
//====================================
.packages
    position: relative
    margin: 0 0 68px
    & h1
        font-weight: 600
        text-transform: uppercase
        color: $greyishBrown
    &__title-principal
        text-align: center
        margin-top: 84px
        margin-bottom: 82px
        font-size: 2.285714em
    &__boxes
        display: flex
        justify-content: space-around
        &__content
            max-width: 320px
        &__img
            width: 162px
            height: 162px
            display: block
            margin: 0 auto
        &__title
            margin: 22px 0
            text-align: center
            font-size: 2.142857em
        &__text
            text-align: center
            line-height: 1.7
            font-size: 1em
            font-weight: 400
            color: $slate
            opacity: .71
    &__button
        display: flex
        margin: 80px auto 0em
        padding: em(16) em(30)
        border-radius: 2px
        text-transform: uppercase
        font-family: $secondaryFont
        font-size: 1.142857em
        font-weight: 500
        letter-spacing: em(0.5)
        line-height: 1.2
        background-color: $charcoalGrey
        color: $white
    &::after
        content: ""
        position: absolute
        bottom: -68px
        right: 0
        width: 445px
        height: 205px
        background-image: url('../images/group-25.png')
        background-size: cover
