//====================================
// Success stories
//====================================
.success-stories
    display: flex
    justify-content: space-between
    background-color: $silver
    &__box
        margin-left: 48px
        &__title
            margin-top: 75px
            margin-bottom: 32px
            text-transform: uppercase
            font-size: em(32)
            font-weight: 600
            line-height: 1.2
            color: $greyishBrown
        & figure
            display: inline-block
            opacity: .5
            cursor: pointer
            &:hover
                opacity: 1
            &:nth-child(1) img
                margin-right: em(40)
                width: 250px
                height: 44px
            &:nth-child(2) img
                margin-right: em(65)
                width: 85px
                height: 65px
            &:nth-child(3) img
                margin-right: em(60)
                width: 158px
                height: 40px
            &:nth-child(4) img
                margin-left: em(18)
                margin-right: em(72)
                width: 212px
                height: 48px
            &:nth-child(5) img
                margin-top: em(35)
                width: 64px
                height: 72px
    &__case
        margin-right: 85px
        &__img
            margin-top: 64px
            width: 475px
            height: 240px
        &__button
            display: block
            margin: 32px auto
            padding: em(16) em(30)
            border-radius: 2px
            font-size: em(16)
            text-transform: uppercase
            font-weight: 500
            letter-spacing: em(0.5)
            line-height: 1.2
            cursor: pointer
            background-color: $charcoalGrey
            color: $white
