//====================================
// Suscribe
//====================================
.suscribe
    display: flex
    justify-content: space-around
    margin-top: em(110)
    margin-bottom: 7.735714em
    &__title
        margin-top: em(10)
        margin-bottom: 16px
        text-transform: uppercase
        font-size: em(32)
        font-weight: 600
        line-height: 1.2
        color: $greyishBrown
    &__text
        margin-right: 85px
        margin-bottom: 2.5em
        font-size: em(16)
        font-weight: 400
        line-height: em(28)
        color: $slate
    & div
        max-width: 625px
    &__separation
        height: 166px
        border-left: solid 1px $blueyGreen
    &__form
        margin-top: em(5)
        max-width: 654px
        & select
            +appearance(none)
            color: $coolGrey
        &__input
            position: relative
            margin-right: em(28)
            padding-top: em(9)
            padding-bottom: em(12)
            padding-left: 1.35714em
            border-radius: 2px
            width: 324px
            height: 47px
            text-transform: uppercase
            font-size: em(16)
            font-weight: 600
            line-height: 1
            color: $slate
            background-color: $paleGrey
            border: none
            outline: none
            &:first-child
                display: block
                width: 528px
                margin-bottom: 1.571428em
            &::placeholder
                color: $coolGrey
            &::after
                content: url(public/images/shape.png)
                position: absolute
                bottom: 0
                right: 0
        &__button
            padding: em(16) em(25)
            border-radius: 2px
            text-transform: uppercase
            font-size: em(16)
            font-weight: 600
            line-height: 1
            letter-spacing: em(.5)
            cursor: pointer
            background-color: $charcoalGrey
            color: $white
