//====================================
// Mixins
//====================================
@mixin antialiased
    -webkit-font-smoothing: antialiased
    -moz-font-smoothing: antialiased
    -ms-font-smoothing: antialiased
    font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

@mixin catalogueButton
    margin-top: 3.214285em
    padding: .8em 1.6em
    border-radius: 2px
    // width: em(266)
    // height: em(50)
    text-transform: uppercase
    font-family: $tertiaryFont
    font-size: em(16)
    font-weight: 500
    letter-spacing: em(0.8)
    color: $white
